.cell {
    box-shadow: 0 0 0 2px hsl(210, 100%, 70%) inset;
    border-radius: 10px;
    aspect-ratio: 1;
    width: 40px;
    text-align: center;
    align-content: center;
    margin: 1px;
    color: hsl(210, 100%, 70%);
    cursor: pointer;

    /* Prevent text selection */
    user-select: none;
}

.cell-hovered {
    color: hsl(0, 0%, 80%);
    box-shadow: 0 0 0 2px hsl(0, 0%, 80%) inset;
    transition: color 0.2s;
}
.cell-marked-correct.cell-hovered {
    color: hsl(120, 75%, 45%);
}
.cell-marked-wrong.cell-hovered {
    color: hsl(0, 100%, 70%);
}

.cell-marked-correct {
    color: hsl(120, 75%, 40%);
    box-shadow: 0 0 0 2px hsl(120, 75%, 40%) inset;
    border-radius: 10px;
}

.cell-marked-wrong {
    color: hsl(0, 100%, 65%);
    box-shadow: 0px 0 0 2px hsl(0, 100%, 65%) inset;
    border-radius: 10px;
}

.result-cell-right {
    margin-left: 15px;
    color: hsl(0, 0%, 80%);
    box-shadow: 0 0 0 2px hsl(210, 100%, 80%) inset;
}

.result-cell-bottom {
    margin-top: 15px;
    color: hsl(0, 0%, 80%);
    box-shadow: 0 0 0 2px hsl(210, 100%, 80%) inset;
}

.result-cell-correct {
    color: hsl(120, 75%, 40%);
    box-shadow: 0 0 0 2px hsl(120, 75%, 40%) inset;
    border-radius: 10px;
}

.result-cell-wrong {
    color: hsl(0, 100%, 65%);
    box-shadow: 0px 0 0 2px hsl(0, 100%, 65%) inset;
    border-radius: 10px;
}

.row {
    display: flex;
}

#container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    border-bottom: 2px solid #ffbd2f;
    text-transform: uppercase;
}

#header p {
    margin: 20px;
    font-size: 1.2em;
}

#game-container {
    display: inline-block;
    width: fit-content;
    margin-top: 20px;
}

@font-face {
    font-family: "Baumans";
    src: url("./assets/Baumans-Regular.ttf");
}

body, body * {
    background-color: #181818;
    color: #ffbd2f;
    font-family: "Baumans";
    margin: 0;
}

html > body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.blurred {
    filter: blur(5px);
    pointer-events: none;
}

.button {
    display: block;
    margin: 20px auto 0 auto;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #ffbd2f;
    color: #181818;
    border: 5px solid #181818;
    border-radius: 15px;
    cursor: pointer;
}

#grid-size {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #ffbd2f;
    color: #181818;
    border: 5px solid #181818;
    border-radius: 15px;
    cursor: pointer;
}

footer {
    margin-bottom: 20px;
}

footer > p {
    text-align: center;
    color: #ffbd2f;
    font-size: 0.9em;
}

#instructions {
    margin-bottom: 75px;
}

#instructions > p {
    margin: 10px 0;
}