.cell {
    box-shadow: 0 0 0 2px hsl(210, 100%, 70%) inset;
    border-radius: 10px;
    aspect-ratio: 1;
    width: 40px;
    text-align: center;
    align-content: center;
    margin: 1px;
    color: hsl(210, 100%, 70%);
    cursor: pointer;
}

.cell-hovered {
    color: hsl(0, 0%, 80%);
    box-shadow: 0 0 0 2px hsl(0, 0%, 80%) inset;
    transition: color 0.2s;
}
.cell-marked-correct.cell-hovered {
    color: hsl(120, 75%, 45%);
}
.cell-marked-wrong.cell-hovered {
    color: hsl(0, 100%, 70%);
}

.cell-marked-correct {
    color: hsl(120, 75%, 40%);
    box-shadow: 0 0 0 2px hsl(120, 75%, 40%) inset;
    border-radius: 10px;
}

.cell-marked-wrong {
    color: hsl(0, 100%, 65%);
    box-shadow: 0px 0 0 2px hsl(0, 100%, 65%) inset;
    border-radius: 10px;
}

.result-cell-right {
    margin-left: 15px;
    color: hsl(0, 0%, 80%);
    box-shadow: 0 0 0 2px hsl(210, 100%, 80%) inset;
}

.result-cell-bottom {
    margin-top: 15px;
    color: hsl(0, 0%, 80%);
    box-shadow: 0 0 0 2px hsl(210, 100%, 80%) inset;
}

.result-cell-correct {
    color: hsl(120, 75%, 40%);
    box-shadow: 0 0 0 2px hsl(120, 75%, 40%) inset;
    border-radius: 10px;
}

.result-cell-wrong {
    color: hsl(0, 100%, 65%);
    box-shadow: 0px 0 0 2px hsl(0, 100%, 65%) inset;
    border-radius: 10px;
}

.row {
    display: flex;
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
}

#game-container {
    display: inline-block;
    width: fit-content;
    margin-top: 20px;
}

body {
    background-color: #181818;
    color: #ffbd2f;
}