.cell {
    border: 1px solid #ccc;
    aspect-ratio: 1;
    width: 40px;
    text-align: center;
    align-content: center;
}

.cell-hovered {
    background-color: #E0E0E0;
    transition: background-color 0.4s;
}
.cell-marked-correct.cell-hovered {
    background-color: hsl(120, 75%, 45%);
}
.cell-marked-wrong.cell-hovered {
    background-color: hsl(0, 100%, 70%);
}

.cell-marked-correct {
    background-color: hsl(120, 75%, 40%);
    color: white;
}

.cell-marked-wrong {
    background-color: hsl(0, 100%, 65%);
    color: white;
}

.cell-unmarked {
    background-color: white;
    color: black;
}

.result-cell-right {
    border: 1px solid #ccc;
    border-left: 2px solid #ccc;
}

.result-cell-bottom {
    border: 1px solid #ccc;
    border-top: 2px solid #ccc;
}

.result-cell-correct {
    background-color: hsl(140, 100%, 60%);
    color: white;
}

.result-cell-wrong {
    background-color: hsl(0, 100%, 60%);
    color: white;
}

.row {
    display: flex;
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
}

#game-container {
    display: inline-block;
    width: fit-content;
    margin-top: 20px;
}